# /dev/block partitions

type qmuxd_socket, dev_type;
type modem_device, dev_type;
type dbgcfgtool_device, dev_type;
type bootloader_block_device, dev_type;
type ltalabel_block_device, dev_type;
