allow mediaserver audio_device:chr_file rw_file_perms;
allow mediaserver socket_device:sock_file write;
allow mediaserver socket_device:sock ioctl;
allowxperm mediaserver socket_device:socket ioctl msm_sock_ipc_ioctls;
